/*** ------------------------------- ***/
/*** CATEGORIES -------------------- ***/

.category {
  background:var(--neutralDarker);
  border-radius: 10px;
  padding: 10px;
  margin: 25px 0 25px 0;
  position:relative;
  z-index:45;
}

.category::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('https://i.ibb.co/qXZ6x40/colo2.webp') center /100%;
  filter: grayscale(1);
  transform: scale(1);
  z-index: -1;
  opacity:0.2;
}

#c2.category {
  overflow: hidden;
  padding: 10px 0 10px 0;
}

.forums-guidebook {
  
}

#c2 .forums-guidebook {
  display: grid; 
  grid-template-columns: 1fr auto; 
  gap: 20px;
  background:var(--neutralDark);
  padding:15px 15px 15px 15px;
}

#c2 .forums {
  display:grid;
  grid-template-columns:repeat(6, 1fr);
  gap:20px;
}

#c2 .forum:nth-child(-n+2) {
  grid-column: span 3;
}

#c2 .forum:nth-child(n+3):nth-child(-n+5) {
  grid-column: span 2;
}

/* Titre d'une catégorie */
.cate_title h2 {
  display: block;
  text-align: center;
  text-transform: uppercase;
  width:100%;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 20px;
  color:#ededed;
  font-family:var(--titlefont);
  font-size:32px;
  font-weight:300;
}

#c2 .cate_title {
  grid-column: span 2; 
}

#c2 .cate_title h2 {
  margin:10px 0 10px 0;
}

/* GUIDEBOOK */

.guidebook {
  display:none;
}

#c2 .guidebook {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, var(--neutral), rgba(0, 0, 0, 0.3)), var(--img-guidebook), linear-gradient(to bottom, var(--tertiaire), rgba(0, 0, 0, 0.3));
  border-radius: 10px;
  width:450px;
  position:relative;
}

#c2 .guidebook a:hover {
  color:var(--textColor);
}

#c2 .guidebook h2 {
  font-family:var(--titlefont);
  text-transform:uppercase;
  font-size:70px;
  font-weight:300;
  text-shadow: 0px 0px 20px var(--neutral);
}

#c2 .guidebook span {
  padding:0 20px 0 20px;
}

#c2 .guidebook h2 span {
  padding:0;
  color:var(--tertiaire);
}

#c2 #guidebook_links {
  width:100%;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
  position:absolute;
  left:15px;
  bottom:15px;
}

#c2 #guidebook_links a {
  background:var(--tertiaire);
  padding:5px;
  border-radius:5px;
  color:var(--textColorAccent);
}

#c2 #guidebook_links a:hover {
  background:var(--accentClr);
}

/* conteneur d'un forum*/
.forum {
  margin-bottom: 10px;
  background: var(--neutral);
  border-radius: 5px;
}

.forum:last-child {
  margin-bottom: 0;
}

#c2 .forum {
  margin:0;
  background:transparent;
  border-radius: 5px;
}

/* titre d'un forum */

#c2 .forum-entete {
  background:var(--neutral);
  padding:5px;
  border-radius:10px;
  color:var(--accentClr);
  font-size:var(--little-size);
  text-transform:uppercase;
}

#c2 .forum:nth-child(3) .forum-entete, 
#c2 .forum:nth-child(5) .forum-entete {
  background: var(--accentClr);
  color:var(--textColorAccent);
}

#c2 .forum:nth-child(4) .forum-entete {
  background: var(--contrastLight);
  color:var(--textColorAccent);
}

#c2 .forum.cat_new .forum-entete {
  background: linear-gradient(90deg, var(--neutral) 35%, var(--tertiaire) 100%);
}

#c2 .forum.cat_new a.lastpost_link {
  background:var(--tertiaire);
  color:var(--textColorAccent);
}


#c2 .forum:nth-child(3).cat_new .forum-entete, #c2 .forum:nth-child(5).cat_new .forum-entete{
  background: linear-gradient(90deg, var(--accentClr) 35%, var(--tertiaire) 100%);
}

#c2 .forum:nth-child(4).cat_new .forum-entete {
  background: linear-gradient(90deg, var(--contrastLight) 35%, var(--tertiaire) 100%);
}

a.forumtitle {
  font-size: var(--large-size);
  font-family:var(--font);
  text-transform:uppercase;
}

a.forumtitle:hover {
  color:var(--tertiaire);
}

#c2 .forum:nth-child(3) a.forumtitle, 
#c2 .forum:nth-child(5) a.forumtitle {
  color:var(--textColorAccent);
}

#c2 .forum:nth-child(4) a.forumtitle {
  color:var(--textColorAccent);
}

#c2 .forum:nth-child(3) a.forumtitle:hover, #c2 .forum:nth-child(4) a.forumtitle:hover,
#c2 .forum:nth-child(5) a.forumtitle:hover {
  color:var(--accent);
}

.forum_content {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

/*image statut du forum */
.forum-img {
  width: 70px;
  height: 70px;
  background-color: var(--neutralDark);
}

/*description du forum*/
.forum_desc {
  flex: 1;
  max-height: 65px;
  overflow: auto;
  align-self: center;
  scrollbar-color: var(--secondaire) transparent;
  scrollbar-width: thin;
  margin:10px 0 0 0;
}

#c2 .forum:nth-child(n+3):nth-child(-n+5) .forum_desc {
  display: none;
}

/*conteneur avatar du dernier posteur*/
.forum_avatar {
  width: 60px;
  height: 60px;
  border-radius:5px;
}

.forum_avatar img {
  background: var(--neutralDark);
  width: 60px;
  height: 60px;
  border-radius:5px;
  object-fit: cover;
  object-position: center;
  border:solid 2px var(--neutral);
}

#c2 .forum_avatar {
  width: 50px;
  height: 45px;
}

#c2 .forum_avatar img {
  background: var(--neutralDark);
  width: 50px;
  height: 45px;
  object-fit: cover;
  object-position: center;
}

/* dernier message*/
.forum_lastpost {
  width:100%;
  text-transform: uppercase;
  font-size:var(--little-size);
}

#c2 .forum_lastpost span {
  height:45px;
}

#c2 a.lastpost_link {
  display: block; 
  width: 100%; 
  height:21px;
  overflow:hidden;
  background: var(--neutral);
  color: var(--textColor);
  padding: 2px 5px 3px 5px;
  margin:0 0 5px 0;
  box-sizing: border-box; 
  border-radius:2px;
}

#c2 a.lastpost_link:hover {
  color: var(--textColor);
}

.forum_details {
  border-top: 1px solid var(--neutralDark);
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.lastpost-author {
  font-size: 0;
  display: block;
  vertical-align:middle;
  line-height: 1; 
  margin-top: 2px; 
}

.lastpost-author span {
  margin:0 5px 0 5px;
}

.lastpost-author strong, 
.lastpost-author a {
  font-size: var(--little-size); 
  display: inline-block;
  line-height: normal;
  margin:0 0 0 0;
}

.lastpost-author br {
  display: none; 
}

.last-post-icon {
  margin:-2px 0 0 0!important;
  display: inline-block;
  vertical-align:top;
}

/* liens des sous forums */
#subforum {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0;
  gap: 5px;
  width: 100%;
  height: 50px;
  overflow: auto;
  scrollbar-color: var(--secondaire) transparent;
  scrollbar-width: thin;
}

#subforum a {
  display: inline-block;
  padding:5px 8px 4px 8px;
  font-size: var(--little-size);
  line-height: var(--little-size);
  font-family: var(--font);
  color: var(--textColor);
  background: var(--neutral);
  text-transform: uppercase;
  border-radius: 5px;
}

#subforum a:hover {
  color: var(--textColorAccent);
  background: var(--accentClr);
}

#c2 .forum:nth-child(4) #subforum a {
  background: var(--contrastLight);
  color:var(--textColorAccent);
  padding:5px 6px 4px 6px;
}

#c2 .forum:nth-child(4) #subforum a:hover {
  background: var(--tertiaire);
  color:var(--textColorAccent);
}

.forum_stats {
  font-weight: 600;
  float: right;
  font-size: var(--little-size);
}
