/*** ------------------------------- ***/
/*** CATEGORIES -------------------- ***/

.category {
  background:var(--neutralDarker);
  border-radius: 10px;
  padding: 10px;
  margin: 25px 0 25px 0;
  position:relative;
  z-index:45;
}

.category::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('https://i.ibb.co/qXZ6x40/colo2.webp') center /100%;
  filter: grayscale(1);
  transform: scale(1);
  z-index: -1;
  opacity:0.2;
}

#c2.category {
  overflow: hidden;
  padding: 10px 0 10px 0;
}

.forums-guidebook {
  
}

#c2 .forums-guidebook {
  display: grid; 
  grid-template-columns: 1fr auto; 
  gap: 20px;
  background:var(--neutralDark);
  padding:15px 15px 15px 15px;
}

#c2 .forums {
  display:grid;
  grid-template-columns:repeat(6, 1fr);
  gap:20px;
}

:is(#c1, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forums {
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap:20px;
  margin-bottom:15px;
}

#c2 .forum:nth-child(-n+2) {
  grid-column: span 3;
}

#c2 .forum:nth-child(n+3):nth-child(-n+5) {
  grid-column: span 2;
}

/* Titre d'une catégorie */
.cate_title h2 {
  display: block;
  text-align: center;
  text-transform: uppercase;
  width:100%;
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0 20px;
  color:#ededed;
  font-family:var(--titlefont);
  font-size:32px;
  font-weight:300;
}

#c2 .cate_title {
  grid-column: span 2; 
}

/* GUIDEBOOK */

.guidebook {
  display:none;
}

#c2 .guidebook {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, var(--neutral), rgba(0, 0, 0, 0.3)), var(--img-guidebook), linear-gradient(to bottom, var(--tertiaire), rgba(0, 0, 0, 0.3));
  border-radius: 10px;
  width:450px;
  position:relative;
}

#c2 .guidebook a:hover {
  color:var(--textColor);
}

#c2 .guidebook h2 {
  font-family:var(--titlefont);
  text-transform:uppercase;
  font-size:70px;
  font-weight:300;
  text-shadow: 0px 0px 20px var(--neutral);
}

#c2 .guidebook span {
  padding:0 20px 0 20px;
}

#c2 .guidebook h2 span {
  padding:0;
  color:var(--tertiaire);
}

#c2 #guidebook_links {
  width:100%;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
  position:absolute;
  left:15px;
  bottom:15px;
}

#c2 #guidebook_links a {
  background:var(--tertiaire);
  padding:5px;
  border-radius:5px;
  color:var(--textColorAccent);
}

#c2 #guidebook_links a:hover {
  background:var(--accentClr);
}

/* conteneur d'un forum*/
.forum {
  background: var(--neutral);
  border-radius: 5px;
}

.forum:last-child {
  margin-bottom: 0;
}

#c2 .forum {
  margin:0 0 10px 0;
  background:transparent;
  border-radius: 5px;
}

:is(#c1, #c6) .forum {
  width: 520px;
  height:270px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 210px; 
  grid-template-rows: auto 1fr auto; 
  gap: 10px;
  padding: 5px;
  box-sizing: border-box;
}

:is(#f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum {
  width: 520px;
  height: 270px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

:is(#c1, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--neutralDark) 0%, rgb( 0, 0, 0, 0.1) 100%);
  background-size: 250%;
  z-index: -2;}

/* TERRITOIRE*/

#c1 .forum:is(:nth-child(1), :nth-child(6))::before,
#f26 .forum:is(:nth-child(-n+3), :nth-child(5))::before,
#f28 .forum:nth-child(5)::before,
#f31 .forum:nth-child(-n+4)::before {
  background: linear-gradient(180deg, var(--diurnesalt) 0%, rgba(0, 0, 0, 0.1) 100%);
}

#c1 .forum:nth-child(2)::before,
#f27 .forum:nth-child(-n+4)::before {
  background: linear-gradient(180deg, var(--griffesalt) 0%, rgba(0, 0, 0, 0.1) 100%);
}

#c1 .forum:nth-child(4)::before,
#f29 .forum:nth-child(-n+5)::before {
  background: linear-gradient(180deg, var(--crocsalt) 0%, rgba(0, 0, 0, 0.1) 100%);
}

#f30 .forum:nth-child(2)::before {
  background: linear-gradient(180deg, var(--arcanesalt) 0%, rgba(0, 0, 0, 0.1) 100%);
}

#f26 .forum:nth-child(4)::before,
#f29 .forum:nth-child(6)::before {
  background: linear-gradient(180deg, var(--secret2alt) 0%, rgba(0, 0, 0, 0.1) 100%);
}

/* titre d'un forum */

#c2 .forum-entete {
  background:var(--neutral);
  padding:5px;
  border-radius:10px;
  color:var(--accentClr);
  font-size:var(--little-size);
  text-transform:uppercase;
}

:is(#c1, #c6) .forum-entete {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: var(--little-size);
  text-transform: uppercase;
  text-align: right;
  grid-column: 1 / span 2;
  grid-row: 1;
}

:is(#f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum-entete {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: var(--little-size);
  text-transform: uppercase;
  text-align: right;
}

#c2 .forum:nth-child(3) .forum-entete, 
#c2 .forum:nth-child(5) .forum-entete {
  background: var(--accentClr);
  color:var(--textColorAccent);
}

#c2 .forum:nth-child(4) .forum-entete {
  background: var(--contrastLight);
  color:var(--textColorAccent);
}

#c2 .forum.cat_new .forum-entete {
  background: linear-gradient(90deg, var(--neutral) 35%, var(--tertiaire) 100%);
}

:is(#c1, #c6, #f26, #f27, #f28, #f29, #f30, #f31) .forum-entete span:empty {
  margin:10px;
}

#c2 .forum.cat_new a.lastpost_link {
  background:var(--tertiaire);
  color:var(--textColorAccent);
}

:is(#c1, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum.cat_new a.lastpost_link {
  background:var(--primaire);
  color:var(--textColorAccent);
}

#c2 .forum:nth-child(3).cat_new .forum-entete, #c2 .forum:nth-child(5).cat_new .forum-entete{
  background: linear-gradient(90deg, var(--accentClr) 35%, var(--tertiaire) 100%);
}

#c2 .forum:nth-child(4).cat_new .forum-entete {
  background: linear-gradient(90deg, var(--contrastLight) 35%, var(--tertiaire) 100%);
}

a.forumtitle {
  font-size: var(--large-size);
  font-family:var(--font);
  text-transform:uppercase;
}

a.forumtitle:hover {
  color:var(--tertiaire);
}

#c2 .forum:nth-child(3) a.forumtitle, 
#c2 .forum:nth-child(5) a.forumtitle {
  color:var(--textColorAccent);
}

#c2 .forum:nth-child(4) a.forumtitle {
  color:var(--textColorAccent);
}

#c2 .forum:nth-child(3) a.forumtitle:hover, #c2 .forum:nth-child(4) a.forumtitle:hover,
#c2 .forum:nth-child(5) a.forumtitle:hover {
  color:var(--accent);
}

:is(#c1, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) a.forumtitle {
  font-size: 30px;
  font-family:var(--titlefont);
  text-transform:uppercase;
  font-weight:200;
}

.forum_content {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

:is(#c1, #c6) .forum_content {
  grid-column-start: 1;
  grid-row-start: 3;
  margin-top:-70px;
  padding:5px;
}

:is(#f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum_content {
  grid-row-start: 3;
  margin:0 0 0 0;
  padding:5px;
  position:relative;
  bottom:-20px;
}

/*description du forum*/
.forum_desc {
  flex: 1;
  max-height: 65px;
  overflow: auto;
  align-self: center;
  scrollbar-color: var(--secondaire) transparent;
  scrollbar-width: thin;
  margin:10px 0 0 0;
}

:is(#c1, #c6) .forum_desc {
  grid-row-start: 2;
  align-self: start;
  max-height: 120px;
  padding:5px 5px 5px 10px;
  color:transparent;
  border-radius:10px;
  overflow:hidden;
  transition-duration:500ms;
  margin:10px 0 0 5px;
}

:is(#f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum_desc {
  grid-row-start: 2;
  align-self: start;
  max-height: 120px;
  padding:5px 5px 5px 10px;
  color:transparent;
  border-radius:10px;
  overflow:hidden;
  transition-duration:500ms;
  margin:5px;
}

:is(#c1, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum:hover .forum_desc {
  background:var(--accentTranspa);
  color:var(--textColor);
  overflow:auto;
}

:is(#c1, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum_desc img {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  object-fit: cover;
  float: none !important;
  z-index: -3;
}

#c2 .forum:nth-child(n+3):nth-child(-n+5) .forum_desc {
  display: none;
}

/*conteneur avatar du dernier posteur*/
.forum_avatar {
  width: 60px;
  height: 60px;
  border-radius:5px;
}

.forum_avatar img {
  background: var(--neutralDark);
  width: 60px;
  height: 60px;
  border-radius:5px;
  object-fit: cover;
  object-position: center;
  border:solid 2px var(--neutral);
}

:is(#c1, #c2, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum_avatar {
  width: 50px;
  height: 45px;
}

:is(#c1, #c2, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum_avatar img {
  background: var(--neutralDark);
  width: 50px;
  height: 45px;
  object-fit: cover;
  object-position: center;
}

/* dernier message*/
.forum_lastpost {
  width:100%;
  text-transform: uppercase;
  font-size:var(--little-size);
}

#c2 .forum_lastpost span {
  height:45px;
}

:is(#c1, #c2, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) a.lastpost_link {
  display: block; 
  width: 100%; 
  height:21px;
  overflow:hidden;
  background: var(--neutral);
  color: var(--textColor);
  padding: 2px 5px 3px 5px;
  margin:0 0 5px 0;
  box-sizing: border-box; 
  border-radius:2px;
}

:is(#c1, #c2, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) a.lastpost_link:empty {
  display: none;
}

:is(#c1, #c2, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) a.lastpost_link:hover {
  color: var(--textColor);
}

.forum_details {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

:is(#f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53)
.forum_details {
  display: none;
}

.lastpost-author {
  font-size: 0;
  display: block;
  vertical-align:middle;
  line-height: 1; 
  margin-top: 2px; 
}

.lastpost-author span {
  margin:0 5px 0 0;
}


.lastpost-author strong, 
.lastpost-author a {
  font-size: var(--little-size); 
  display: inline-block;
  line-height: normal;
  margin:0 0 0 0;
}

:is(#c1, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .lastpost-author :is(strong, a) {
  text-shadow: 0px 0px 5px #000;
}

.lastpost-author br {
  display: none; 
}

.last-post-icon {
  margin:-2px 0 0 0!important;
  display: inline-block;
  vertical-align:top;
}

/* liens des sous forums */
#subforum {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0;
  gap: 5px;
  width: 100%;
  height: 50px;
  overflow: auto;
  scrollbar-color: var(--secondaire) transparent;
  scrollbar-width: thin;
}

#subforum a {
  display: inline-block;
  padding:5px 8px 4px 8px;
  font-size: var(--little-size);
  line-height: var(--little-size);
  font-family: var(--font);
  color: var(--textColor);
  background: var(--neutral);
  text-transform: uppercase;
  border-radius: 5px;
}

#subforum a:hover {
  color: var(--textColorAccent);
  background: var(--accentClr);
}

#c2 .forum:nth-child(4) #subforum a {
  background: var(--contrastLight);
  color:var(--textColorAccent);
  padding:5px 5px 4px 6px;
}

#c2 .forum:nth-child(4) #subforum a:hover {
  background: var(--tertiaire);
  color:var(--textColorAccent);
}

:is(#c1, #c6) #subforum {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important; 
  justify-content: flex-start;
  align-items: flex-start;
  gap:3px;
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: var(--secondaire) transparent;
  scrollbar-width: thin;
  grid-column: 2;
  grid-row: 2 / span 2; 
  margin: 0;
}

:is(#c1, #c6) #subforum a {
  padding:5px 5px 4px 5px;
  display: block;
  width: 200px;
  box-sizing: border-box;
}

/*SUB TERRITOIRE*/

#c1 .forum:nth-child(1) #subforum a, 
#c1 .forum:nth-child(6) #subforum a{
 border:solid 2px var(--neutral);
 background: var(--diurnes); 
 color:#292828;
}

#c1 .forum:nth-child(1) #subforum a:hover, 
#c1 .forum:nth-child(6) #subforum a:hover{
 border:solid 2px var(--diurnes);
 background: var(--neutral); 
 color:var(--textColor);
}

#c1 .forum:nth-child(2) #subforum a {
 border:solid 2px var(--neutral);
 background: var(--griffes); 
 color:#292828;
}

#c1 .forum:nth-child(2) #subforum a:hover {
 border:solid 2px var(--griffes);
 background: var(--neutral); 
 color:var(--textColor);
}

#c1 .forum:nth-child(4) #subforum a {
 border:solid 2px var(--neutral);
 background: var(--crocs); 
 color:#292828;
}

#c1 .forum:nth-child(4) #subforum a:hover {
 border:solid 2px var(--crocs);
 background: var(--neutral); 
 color:var(--textColor);
}

#c1 .forum:nth-child(3) #subforum a:nth-child(5) {
 border:solid 2px var(--neutral);
 background: linear-gradient(90deg, var(--diurnes) 30%, var(--arcanes) 100%); 
 color:#292828;
}

#c1 .forum:nth-child(3) #subforum a:nth-child(5):hover {
  border:solid 2px transparent;
  background:linear-gradient(var(--neutral), var(--neutral)) padding-box,
             linear-gradient(to right, var(--diurnes), var(--arcanes)) border-box;
  color:var(--textColor);
}

#c1 .forum:nth-child(5) #subforum a:nth-child(2) {
 border:solid 2px var(--neutral);
 background:var(--arcanes); 
 color:#292828;
}

#c1 .forum:nth-child(5) #subforum a:nth-child(2):hover {
 border:solid 2px var(--arcanes);
 background: var(--neutral); 
 color:var(--textColor);
}

#c1 .forum:nth-child(1) #subforum a:nth-child(4) {
 border:solid 2px var(--neutral);
 background: linear-gradient(90deg, var(--diurnes) 30%, var(--secret2) 100%); 
 color:#292828;
}

#c1 .forum:nth-child(1) #subforum a:nth-child(4):hover {
  border:solid 2px transparent;
  background:linear-gradient(var(--neutral), var(--neutral)) padding-box,
             linear-gradient(to right, var(--diurnes), var(--secret2)) border-box;
  color:var(--textColor);
}

#c1 .forum:nth-child(4) #subforum a:nth-child(6) {
 border:solid 2px var(--neutral);
 background: linear-gradient(90deg, var(--crocs) 30%, var(--secret2) 100%); 
 color:#292828;
}

#c1 .forum:nth-child(4) #subforum a:nth-child(6):hover {
  border:solid 2px transparent;
  background:linear-gradient(var(--neutral), var(--neutral)) padding-box,
             linear-gradient(to right, var(--crocs), var(--secret2)) border-box;
  color:var(--textColor);
}

#c6 .forum:nth-child(1) #subforum a:nth-child(3), 
#c6 .forum:nth-child(4) #subforum a:nth-child(3),
#c6 .forum:nth-child(4) #subforum a:nth-child(4),
#c6 .forum:nth-child(5) #subforum a:nth-child(6),
#c6 .forum:nth-child(6) #subforum a:nth-child(2) {
 border:solid 2px var(--neutral);
 background:var(--secret2);
 color:#292828;
}

#c6 .forum:nth-child(1) #subforum a:nth-child(3):hover,
#c6 .forum:nth-child(4) #subforum a:nth-child(3):hover,
#c6 .forum:nth-child(4) #subforum a:nth-child(4):hover,
#c6 .forum:nth-child(5) #subforum a:nth-child(6):hover,
#c6 .forum:nth-child(6) #subforum a:nth-child(2):hover {
  border:solid 2px var(--secret2);
  background:var(--neutral);
  color:var(--textColor);
}

#c6 .forum:nth-child(3) #subforum a:nth-child(2) {
 border:solid 2px var(--neutral);
 background:var(--griffes);
 color:#292828;
}

#c6 .forum:nth-child(3) #subforum a:nth-child(2):hover {
  border:solid 2px var(--griffes);
  background:var(--neutral);
  color:var(--textColor);
}

#c6 .forum:nth-child(4) #subforum a:nth-child(2) {
 border:solid 2px var(--neutral);
 background:var(--crocs);
 color:#292828;
}

#c6 .forum:nth-child(4) #subforum a:nth-child(2):hover {
  border:solid 2px var(--crocs);
  background:var(--neutral);
  color:var(--textColor);
}

#c6 .forum:nth-child(6) #subforum a:nth-child(5) {
 border:solid 2px var(--neutral);
 background:var(--diurnes);
 color:#292828;
}

#c6 .forum:nth-child(6) #subforum a:nth-child(5):hover {
  border:solid 2px var(--diurnes);
  background:var(--neutral);
  color:var(--textColor);
}

#c6 .forum:nth-child(3) #subforum a:nth-child(1) {
 border:solid 2px var(--neutral);
 background: linear-gradient(90deg, var(--neutral) 30%, var(--griffes) 100%); 
 color:var(--textColor);
}

#c6 .forum:nth-child(3) #subforum a:nth-child(1):hover {
  border:solid 2px var(--accentClr);
  background:var(--accentClr);
  color:var(--textColorAccent);
}

#c6 .forum:nth-child(4) #subforum a:nth-child(1) {
 border:solid 2px var(--neutral);
 background: linear-gradient(90deg, var(--neutral) 30%, var(--crocs) 100%); 
 color:var(--textColor);
}

#c6 .forum:nth-child(4) #subforum a:nth-child(1):hover {
  border:solid 2px var(--accentClr);
  background:var(--accentClr);
  color:var(--textColorAccent);
}

.forum_stats {
  font-weight: 600;
  float: right;
  font-size: var(--little-size);
}

/*symbole forum*/

.forum_circle {
  display:none;
}

#c1 .forum:is(:nth-child(1), :nth-child(6)) .forum_circle,
#f26 .forum:is(:nth-child(-n+3), :nth-child(5)) .forum_circle {
  display:block;
  position:absolute;
  top:10px;
  left:10px;
  width:60px;
  height:60px;
  border-radius:50%;
  border:solid 2px var(--neutral);
  background:url('https://www.aht.li/3979449/couronne.png') no-repeat center 5px /40px var(--diurnes); 
  cursor: pointer;
}

#c1 .forum:nth-child(2) .forum_circle {
  display:block;
  position:absolute;
  top:10px;
  left:10px;
  width:60px;
  height:60px;
  border-radius:50%;
  border:solid 2px var(--neutral);
  background:url('https://www.aht.li/3977334/loup-dark.png') no-repeat center 5px /50px var(--griffes); 
  cursor: pointer;
}

#c1 .forum:nth-child(4) .forum_circle {
  display:block;
  position:absolute;
  top:10px;
  left:10px;
  width:60px;
  height:60px;
  border-radius:50%;
  border:solid 2px var(--neutral);
  background:url('https://www.aht.li/3977333/vampires-dark.png') no-repeat center 5px /50px var(--crocs); 
  cursor: pointer;
}

:is(#c1, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum_info {
  display:none;
  position:absolute;
  background:var(--neutral);
  color:var(--textColor);
  top:40px;
  left:80px;
  padding:5px 5px 5px 15px;
  clip-path: polygon(100% 0, 100% 100%, 5% 100%, 5% 24%, 0 0);
}

:is(#c1, #c6, #f26, #f27, #f28, #f29, #f30, #f31, #f48, #f49, #f50, #f51, #f52, #f53) .forum_circle:hover + .forum_info {
  display:block;
} 

#c1 .forum:is(:nth-child(1), :nth-child(6)) .forum_circle,
#f26 .forum:is(:nth-child(-n+3), :nth-child(5)) .forum_circle {
  content: "propriété de la couronne";
}

#c1 .forum:nth-child(2) .forum_info {
   padding:5px 5px 5px 18px;
}

#c1 .forum:nth-child(2) .forum_info::before {
  content: "territoire de la meute Marylebone";
}

#c1 .forum:nth-child(4) .forum_info::before {
  content: "territoire de la ruche Lexington";
}

